/* div.todo-main-content{ */
/*   min-height: 400px; */
/* } */
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
  background-color: #DBE3E5;
}
.top-bar li.name h1 a{
  font-weight: bold;
}
.top-bar{
  background-color: #383f47;
}
#todo-welcome-form{
  background-color: white;
}
form input[type=submit]{
  text-transform: uppercase;
  background-color: #5D747B;
}
form input[type=submit]:hover{
  background-color: #53676E;
}
form input[type=submit]:visited{
  background-color: #53676E;
}
form input[type=submit]:focus{
  background-color: #53676E;
}
form.login{
  padding: 5px 5px;
  border: 1px solid white;
  margin-top: 5%;
}
#logout-link{
  text-transform: uppercase;
  background-color: #4C5356;
}
#register-link, #login-link {
  color: rgb(56, 62, 68);
}
#todo-add-form{
  padding: 10px;
}
#todo-update .postfix{
  border: none;
}
#todo-update {
  margin-bottom: -3%;
}
#cancel{
  background-color: rgb(182, 8, 8);
}
#todo-list{
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.todo-wrapper{
  position: relative;
}
.todo-item{
  margin-bottom: 5px;
  background-color: rgb(227, 234, 236);
  overflow: auto;
  min-height: 50px;
  position: relative;
}
.todo-description {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.todo-description p {
  margin-bottom: 0;
  font-size: 1em;
  color: rgb(52, 59, 68)
}
.complete{
  margin-left: -15px;
  width: 50px;
  height: 50px;
}
.is-complete{
  background-color: green;
}
.is-not-complete{
  background-color: red;
}

